# Project files
node_modules/
# dist/ 
# no longer ignoring dist since it's easier to use bleeding-edge this way

yarn.lock

# Editor files
# - IntelliJ
.idea/
*.iml
# Visual Studio Code
.vscode/
*.code-workspace

# Debugging & tests
coverage/
